<div id="aboutUs" class="tabContent">
    <div>
        <h2><strong>Thanks for using XWrite</strong></h2>

        <p>This GOAT plugin is created and developed with ❤️<br>
            to whom that makes the world beautiful.<br>

        <p>With special thanks to anyone who helped us with their ideas &amp; feedbacks.</p>

        <h3>we would appreciate any suggestion or critics </h3>

        <p style="color: #5e5e5e;"><strong>Contact Us</strong><br>

        <p style="color: #5e5e5e;">Develop: <strong>Plumber</strong> sha.a.wf@gmail.com<br></p>

        <p style="color: #5e5e5e;">UI Developer: <strong>Alireza
            Rahmani</strong>&nbsp;alirezaa.rahmanii@gmail.com<br></p>

        <p style="color: #5e5e5e;">Designer: <strong>Mohammad Shendabadi</strong> mohamad.shendabadi@gmail.com <br>
        </p>

        </p>

        <h3>Great Master 🤌</h3>
        <p>Buy us a coffee, we&#39;ll share the coffee together without&nbsp;any arguments, it&#39;s safe</p>
        <p style="margin-bottom: 24px;">USDT
            Wallet:&nbsp;<strong>0x5f75d1F6727ea00A4253c66734b27E01B54976AB</strong></p>

        <p>این&nbsp;اَبر&nbsp;پلاگین&nbsp;با ❤️&nbsp;ساخته و توسعه داده شده برای کسانی که جهان را زیباتر میکنند</p>

        <p>یک قهوه برای ما به حساب شما. ما قهوه رو بدون جنگ باهم تقسیم میکنیم سیفه</p>

        <h3>استادِ&nbsp;بزرگ 🤌</h3>

    </div>
</div>