<div id="replacer" class="tabContent">
    <div class="replacements-container">
        <div class="replacements">
            <div>
                <div class="label">
                    Text
                </div>
                <input id="replace_from" ,type="input" placeholder="Find Text">
            </div>
            <div class="label" style="margin-top: 20px;">
                To
            </div>
            <div>
                <div class="label">
                    Replacement
                </div>
                <input id="replace_to" type="input" placeholder="Find Text">
            </div>
            <div>
                <div class="label" style="color: transparent;">
                    F*** U Found Me!
                </div>
                <button class="secondary" onclick="replaceText()">Replace</button>
            </div>
        </div>
        <div class="label" style="margin-left: 16px; margin-bottom: 16px; font-size: 14px; color: #ababab;">
            Type *.* to select all texts
        </div>
    </div>
</div>